<div>
    <fieldset class="border border-blue-900 rounded-md p-8 min-w-max">
        <legend class="border rounded-md text-white bg-blue-900 py-2 px-5 flex flex-row space-x-3 items-center">
            <i class="fa-solid fa-user-pen"></i>
            <p>Landlord Register</p>
        </legend>
        <form [formGroup]="landlordRegister" (ngSubmit)="register()">
            <div class="flex flex-col space-y-3 items-stretch justify-center">
                <div class="form-floating mb-3 xl:w-96">
                    <input type="input" class="form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="Landlord code" formControlName="code" [class.invalid]="code?.invalid && code?.touched">
                    <label for="code" class="text-gray-700">Landlord code</label>
                </div>
                <hr>
                <div class="form-floating mb-3 xl:w-96">
                    <input type="text" class="form-control
                        block
                        w-full
                        px-3
                        py-1.5
                        text-base
                        font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="username"
                        placeholder="Username" formControlName="username" [class.invalid]="username?.invalid && username?.touched">
                    <label for="username" class="text-gray-700">Username</label>
                </div>
                <div class="form-floating mb-3 xl:w-96">
                    <input type="email" class="form-control
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="phoneNumber"
                        placeholder="Phone number" formControlName="phoneNumber" [class.invalid]="phoneNumber?.invalid && phoneNumber?.touched">
                    <label for="phoneNumber" class="text-gray-700">Phone number</label>
                </div>
                <div class="border rounded-md bg-blue-900 text-white px-5 py-2 text-center shadow-lg hover:cursor-pointer hover:border hover:border-blue-900 hover:text-blue-900 hover:bg-transparent">
                    <button type="submit">Register</button>
                </div>
                <hr class="border-gray-300">
                <div class=" border border-red-600 rounded-md text-red-600 px-5 py-2 text-center shadow-lg hover:cursor-pointer hover:bg-red-600 hover:text-white">
                    <button type="reset">Clear</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>